---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

import { metadata } from "../consts";

import { dateToHuman } from "../utils/date";

const matchups = await getCollection("matchups");

// title has x vs y, change it so it renders on multiple lines with string
const formatTitle = (title: string) => {
  const [first, second] = title.split(" vs ");
  return `<span>
      <span>${first}</span>
			<br />
			vs
      <br />
      <span>${second}</span>
    </span>`;
};
import { createRequire } from "module";

const require = createRequire(import.meta.url);

const helpers = require("../../scripts/helpers.js");
---

<style>
  .blog-post-container {
    background: white;
    border: 6px solid #d90429;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
    border-radius: 12px;
  }

  .blog-post {
    text-decoration: none;
    color: #d90429;
    font-weight: bold;
  }

  .padding {
    padding: 2rem;
  }

  .blog-post p {
    color: #666;
  }

  h1 .king-name {
    font-size: 2.5rem;
    color: #d90429;
  }

  h1 a {
    text-decoration: none;
  }
</style>
<Layout>
  <h1>
    👑 Current King of Carnegie 👑
    <br />
    <a href={`/restaurants/${helpers.toKebabCase(metadata.kingName)}/`}>
      <span class="king-name">
        {metadata.kingName}
      </span>
    </a>
  </h1>
  <p>Previous matchups:</p>
  <ul>
    {
      matchups.map((matchup) => (
        <li class="blog-post-container">
          <a class="blog-post" href={`/matchups/${matchup.slug}/`}>
            <div class="padding">
              <h2>
                <Fragment set:html={formatTitle(matchup.data.title)} />
              </h2>
              <p>{dateToHuman(matchup.data.reviewDate)}</p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
<style is:global>
  ul {
    list-style: none;
    padding: 0;
  }
</style>
