---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

import { metadata } from "../consts";

import { dateToHuman } from "../utils/date";

const matchups = await getCollection("matchups");

// title has x vs y, change it so it renders on multiple lines with string
const formatTitle = (title: string) => {
  const [first, second] = title.split(" vs ");
  return `<span>
      <span>${first}</span>
			<br />
			vs
      <br />
      <span>${second}</span>
    </span>`;
};
---

<style>
  .blog-post {
    background: white;
    border: 6px double #d90429;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  .blog-post a {
    text-decoration: none;
    color: #d90429;
    font-weight: bold;
  }

  .blog-post p {
    color: #666;
  }

  h1 span {
    font-size: 2.5rem;
    color: #d90429;
  }
</style>
<Layout>
  <h1>
    👑 Current King of Carnegie 👑
    <br />
    <span>
      {metadata.kingName}
    </span>
  </h1>
  <p>Previous matchups:</p>
  <ul>
    {
      matchups.map((matchup) => (
        <li class="blog-post">
          <a href={`/matchups/${matchup.slug}/`}>
            <h2>
              <Fragment set:html={formatTitle(matchup.data.title)} />
            </h2>
            <p>{dateToHuman(matchup.data.reviewDate)}</p>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
<style is:global>
  ul {
    list-style: none;
    padding: 0;
  }
</style>
